@import "tailwindcss";
@import "./theme.css";

input[type="checkbox"] {
	position: relative;

	appearance: none;
	padding: 5px;

	width: 20px;
	height: 20px;

	border-radius: 5px;
	outline: solid var(--color-surface-0) 2px;
	transition: ease-in-out 100ms;

    cursor: pointer;
}

input[type="checkbox"]:before {
	position: absolute;
	inset: 0;
	margin: auto;

	content: "";
	color: var(--color-text);
	text-align: center;
	font-size: 12px;

	background-color: var(--color-text);
	mask-image: url(/check.svg);
	mask-position: center;
	mask-repeat: no-repeat;

	opacity: 0;
	transition: ease-in-out 100ms;
}

input[type="checkbox"]:checked {
	outline-color: var(--color-text);
}

input[type="checkbox"]:checked::before {
	opacity: 1;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

input[type="text"],
input[type="number"] {
	padding: 8px;
	/* background-color: var(--color-surface-0); */
	border: solid 1px var(--color-surface-0);
	border-radius: 10px;
}

input[type="text"]:focus-within,
input[type="number"]:focus-within {
	outline: none;
	border: solid 1px var(--color-text);
}
